@font-face 
{font-family: 'Nunito-Regular';
src: url('Nunito-Regular.eot') format('eot'),
     url('Nunito-Regular.woff') format('woff'),
     url('Nunito-Regular.ttf') format('truetype'),
     url('Nunito-Regular.svg') format('svg');
}

@font-face 
{font-family: 'Nunito-Extrabold';
src: url('Nunito-Extrabold.eot') format('eot'),
     url('Nunito-Extrabold.woff') format('woff'),
     url('Nunito-Extrabold.ttf') format('truetype'),
     url('Nunito-Extrabold.svg') format('svg');
}

div.menu {
  background-color: #333;
  display: flex;
  font-family: nunito-extrabold;
  font-size: 18px;
  justify-content: space-between;
}
  
div.menu a {
  display: inline-block;
  color: white;
  padding: 14px;
  text-align: center;
  text-decoration: none;
}
  
div.menu a:hover {
  background-color: #777;
}

.left {
  padding-left: 35px;   
}

.right {
  padding-right: 65px;
}

i,svg {
  color: white;
}

div.header {
  background-image: url("batman.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  height: 400px;  
  font-family: nunito-extrabold;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 170px;
  text-align: center;
  width: 90%;
}

div.search {
  display: flex;  
  padding-top: 15px;  
}

button {
  background-color: #333;
  color: white;
}

div.header h2 {
  font-size: 40px;
}

div.header h3 {
  font-size: 26px;
}

div.popular {
display: flex;
font-family: nunito-extrabold;
padding-left: 60px;
padding-top: 30px;
}

div.popular h2 {
  font-size: 26px;
}

div.popular h3 {
  font-size: 18px;
  padding-left: 50px;
  padding-top: 8px;
}

#movies {
  padding-top: 30px;
}

a {
  color:#333;
  font-family: nunito-extrabold;
  font-size: 18px;
  text-decoration: none;
}

a:hover {
  color: #333;    
}

h3 {
  text-align: center;
  white-space: pre-wrap;
}

p {
  font-family: nunito-regular;
  font-size: 12px;
  text-align: center;
}

img {
  height: 300px;
  width: 200px;   
}

