#en {
    border: 1px solid rgba(255,255,255,0.2);
    padding: 0;
    margin-top: 7px;
}
.container {
    display: flex;
    margin-top: 35px;
}

.image {
    background-image: url("batman.jpeg");
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 350px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
}

h1,h2 {
    color: white;
    padding-left: 30px;
}

.navbar-nav > li {
    padding-left: 10px;
    padding-right: 10px; 
}

.second {
    display: flex;
}

.un {
    margin-left: 5px;
    margin-top: 36px;
}

.lol {
    font-size: 30px;
}

.menu {
    border: 2px solid;
    border-radius: 35px;
    margin-left: 35px;
    margin-top: 40px;
    padding: 4px 8px 4px 8px; 
}

img {
    width: 150px;
}

h3
{
    font-size: 14px;
}