

.menu  {
  background-color: #333;
  height: 70px;
  display: flex;
  font-family: nunito-extrabold;
  font-size: 18px;
  justify-content: space-between;

}
.menu a {
  display: inline-block;
  color: white;
  padding: 14px;
  font-size: 24px;
  text-decoration: none;
}  
.menu a:hover {
  color: orangered;
}
.left {
  padding-left: 35px;   
}
.right {
  padding-right: 65px;
}
i {
  color: white;
}
.menu-second {
  background-color:white;
  font-family:nunito-regular;
  color:black;
  font-size: 18px; 
  padding-left: 250px;
  border: 0.5px solid; 
}
.menu-second a {
  display: inline-block;
  color: black;
  font-size: 18px;
  padding: 50px;
  margin-left: 20px; 
  text-decoration: none;
}
.menu h3 {
  display: inline;
  color: orangered;
  font-size: 26px;
  margin-left: 25px;
}
a:hover {
  color: orangered;    
}
.info-personel-movies p {
  font-family: nunito-regular;
  text-align: justify;
  margin-left: 45px;
  margin-right: 60px; 
  margin-top: auto;
  font-size: 18px;
  font-weight: bold;  
}
 #Robert {
  margin-top: 20px;
  margin-left: 50px;
  border-radius: 15px;
 }
.content > h3  {
  margin: 35px;
  font-weight: bold;
  font-size: 35px;
}
h4 {
  margin-top: 25px; 
  margin: 35px;
  margin-bottom: 20px; 
}
.icons{
  margin-left: 110px;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;  
}
.icons a{ 
  color: black;
}
.info-persone-movies{
  display:flex; 
}
#credits{
  display:flex;
  margin-left: 50px;
  margin-right: 300px;   
}
.content p {
  display:flex;
  margin-left: 35px;
  font-size: 18px;
  font-weight: bold;  
}
.aside-content{
  display: flex;
  width: 20%;
  height: 80%;
}
.content{
  width: 20%;
  height: 30%; 
}

