

.menu  {
  background-color: #333;
  height: 70px;
  display: flex;
  font-family: nunito-extrabold;
  font-size: 24px;
  justify-content: space-between;

}
.menu a {
  display: inline-block;
  color: white;
  padding: 14px;
  font-size: 24px;
  font-family: nunito-extrabold;
  text-decoration: none;
}  
.menu a:hover {
  color: orangered;
}
.left {
  padding-left: 35px;   
}
.right {
  padding-right: 65px;
}
i {
  color: white;
}
.menu-second {
  background-color:white;
  font-family:nunito-regular;
  color:black;
  font-size: 24px; 
  padding-left: 250px;
  border: 0.5px solid; 
}
.menu-second a {
  display: inline-block;
  color: black;
  font-size: 24px;
  padding: 50px;
  margin-left: 80px; 
  text-decoration: none;
  font-weight: bold;
  font-family: nunito-extrabold;
}
.menu h3 {
  display: inline;
  color: orangered;
  font-size: 26px;
  margin-left: 25px;
}
a:hover {
  color: orangered;    
}
.info-personel-movies p {
  font-family: nunito-regular;
  text-align: justify;
  margin-left: 45px;
  margin-right: 60px; 
  margin-top: auto;
  font-size: 18px;
  font-weight: bold;  
}
 #Robert {
  margin-top: 20px;
  margin-left: 50px;
  border-radius: 15px;
 }
.icons{
  margin-left: 110px;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;  
}
.icons a{ 
  color: black;
}
.info-persone-movies{
  display:flex; 
}

.content > h3{
  margin: 35px;
  font-weight: bold;
  font-size:35px;
}
.content h4 {
  margin-top: 25px; 
  margin: 35px;
  margin-bottom: 20px; 
}
.content p{
margin:35px;
text-align: justify;
font-weight: bold;
font-family: nunito-regular;
font-size:20px;

}

#credits{
  display:flex;
  flex-wrap:nowrap;
  overflow:auto;
  margin-left: 35px; 
  margin-right: 50px;
  margin-top: 60px;
  height: 250px;  
  
}

.aside-content{
  display: flex;
  width: 20%;
 
}
.content{
  width: 400%; 
  
}

.movie-box{
  margin-left:10px;
  margin-right: 10px;
  border-radius: 15px;
}